*{
    padding: 0;
    margin: 0;
    border: 0;
}


html, 
body {
    height: 100%;
    margin:0;
}

h1,footer{
    font-family: 'Questrial', sans-serif;
    margin: 15px;
}

h1{
    align-items: center;
}

span{
    font-size: 1em;
    float:right;
    margin-left: 16px;
}

body{
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    color:cornsilk;
}


footer{
    background-color: white;
    margin-top: auto;
    padding: 10px;
    background-color:cornsilk;
    color:cornflowerblue;
    font-size: 2em;
}
